<div class="row">
  <div class="dataPagePanel">
    <div class="tableScroll">
      <%- include("_dataTable", { rows: Array.isArray(endorsements) ? endorsements : [], columnLabel, formatDataTableCell }) %>
    </div>
    <%- include("_pagination", { pagination: endorsementsPagination }) %>
  </div>
</div>
