<div class="top_nav" id="topNav" align="right">
  <div class="nav_menu">
    <h2 id="pageTitle">Dashboard</h2>

    <nav class="nav navbar-nav ms-auto">
      <ul class="navbar-right">
        <li class="nav-item">
          <button id="loginBtn" class="menuBtn hidden">Login with GitHub</button>
        </li>

        <li class="nav-item dropdown">
          <button id="userMenuButton" class="userMenuBtn hidden" type="button">
            <img id="topUserAvatar" class="topUserAvatar hidden" alt="User avatar" />
            <span id="topUserLogin" class="topUserLogin"></span>
            <span>▼</span>
          </button>

          <div id="userMenuDropdown" class="menuDropdown">
            <span id="logoutBtn">Logout</span>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
